@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hijau-tua: #86CCCB;
  --hijau-muda: rgba(134, 204, 203, 0.5);
  --gray-bg: #FAF5F2;
  --semiblack-text: #7E8185;
  --orange-muda: #fce9dd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #F25334;
  --color-neutral-gray: #7E8185;
  --color-neutral-white: #FAF5F2;
  --color-secondary: #86CCCB;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  @apply appearance-none bg-[length:20px] bg-[right_8px_center] bg-no-repeat pr-8 bg-[#f8f8f8] border border-[#e2e2e2] rounded-lg
}

.custom-select input {
	box-shadow: none!important;
}